PRIVATE_COMMON_SERVICE_URL=http://172.31.31.253:8083
PRIVATE_CORE_SERVICE_URL=http://172.31.31.253:8082
PRIVATE_IDENTITY_SERVICE_URL=http://172.31.31.253:8081
JWT_SECRET=dGhpcy1pcy1hLXN1cGVyLXNlY3JldC1rZXktdGhhdC1tdXN0LWJlLWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmc=
PORT=8080