PRIVATE_COMMON_SERVICE_URL="https://efms-common-service-production.up.railway.app"
PRIVATE_CORE_SERVICE_URL="https://efms-core-service-production.up.railway.app"
PRIVATE_IDENTITY_SERVICE_URL="https://efms-identity-service-production.up.railway.app"
JWT_SECRET="dGhpcy1pcy1hLXN1cGVyLXNlY3JldC1rZXktdGhhdC1tdXN0LWJlLWF0LWxlYXN0LTI1Ni1iaXRzLWxvbmc="
PORT="8080"